<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href='../static/css/email.css'>
    <title>Document</title>
</head>
<body>

    <div class='wrapper'>
        <h2 class='email-msg-header'>
            Welcome and Thank You for Choosing
        </h2>
        <div class='company-name'>
            Easy Way Bank
        </div>
        <hr>
        <p class='welcome-text'>
            Your Account nas been successfully registered, please click below to verify your account
        </p>
        <br>
        <br>
        <div class='verify-btn'>
            <a href='' class='verify-account-btn' role='button'>Verify Account</a>
        </div>

        <div class='copy-right'>
            &copy; Copy right 2023. All Rights Reserved.
        </div>

    </div>

</body>
</html>