<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="../static/css/default.css">
    <title>Register</title>
</head>
<body class="d-flex align-items-center justify-content-center">
<!-- Card Registration -->
<div class="card registration-form-card col-6 bg-transparent border-0">

    <div class="card-body">

        <h1 class="form-header card-title mb-3">
            <i class="fa fa-edit"></i> Register
        </h1>

        <!-- Registration form-->
        <form action="" class="reg-form">
            <!-- Name Row -->
            <div class="row">
                <div class="form-group col">
                    <input type="text" name="first_name" class="form-control form-control-lg" placeholder="Enter First Name"/>
                </div>
                <div class="form-group col">
                    <input type="text" name="second_name" class="form-control form-control-lg" placeholder="Enter Second Name"/>
                </div>
            </div>
            <!-- End Name Row -->

            <!-- Email Row -->
            <div class="form-group col">
                <input type="text" name="email" class="form-control form-control-lg" placeholder="Enter Your email"/>
            </div>
            <!-- End Email Row -->

            <!-- Password Row -->
            <div class="row">
                <div class="form-group col">
                    <input type="password" name="password" class="form-control form-control-lg" placeholder="Enter Password"/>
                </div>
                <div class="form-group col">
                    <input type="password" name="confirm_password" class="form-control form-control-lg" placeholder="Confirm password"/>
                </div>
            </div>
            <!-- End Password Row -->

            <!-- Button register-->
            <div class="form-group col">
                <button class="btn btn-lg">Register</button>
            </div>
            <!-- End Button register-->
        </form>
        <!-- End Of Registration form-->

        <!-- Card text -->
        <p class="card-text text-white my-2">
            Already have an account? <span class="ms-2 text-warning"><a href="login.html" class="btn btn-sm text-warning"> Sign In</a></span>
        </p>
        <!-- End of Card text -->

        <!-- Back Button To Landing Page -->
        <small class="text-warning">
            <i class="fa fa-arrow-alt-circle-left"></i> <a href="index.html" class="btn btn-sm text-warning">Back</a>
        </small>
        <!-- End Of Back Button To Landing Page -->
    </div>
</div>
<!-- End of Card Registration -->
</body>
</html>